<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <META http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>

<body>
    <div layout:fragment="contenido" class="mt-4 m-4">
        <div id="top-panel" class="d-flex justify-content-between">

            <!-- Page Content -->
            <div class="container">

                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <div class="row mt-2">
                                        <h1 class="fw-bold fs-3 text-start">
                                            Resumen de su Compra
                                        </h1>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row mt-2">
                                        <div class="fw-bold fs-3 text-end">
                                            Total:
                                            <h1 th:text="'$ '+${venta.total}" class="badge bg-success money"></h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <h6 th:text="'Cliente: '+ ${usuario.nombre}"></h6>
                                    <h6 th:text="'Dirección: '+ ${usuario.sucursalAsignada}"></h6>
                                    <h6 th:text="'Correo: '+ ${usuario.email}"></h6>
                                    <h6 th:text="'Fecha: '+ ${#temporals.format(venta.fechaHora,'dd-MM-yyyy HH:mm')}">
                                    </h6>
                                </div>

                                <!-- NUEVA TABLA -->
                                <div class="row mt-2">
                                    <div class="col">
                                        <h5 class="text-secondary">Items</h5>
                                        <div class="table-container detalleVenta overflow-auto border rounded">
                                            <table class="table table-hover caption-top">
                                                <thead class="bg-light">
                                                    <tr class="text-uppercase">
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="LineaVenta:${carrito}">
                                                        <td th:text="${LineaVenta.producto.descripcion}"></td>
                                                        <td th:text="'$'+${LineaVenta.precioActual} "></td>
                                                        <td th:text="${LineaVenta.cantidad}"></td>
                                                        <td th:text=" '$'+${LineaVenta.calcularSubtotal}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="row align-items-center">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <h5 th:text="'Total: $'+${venta.total}"> </h5>
                                            </li>
                                            <a th:href="@{guardarVenta}" class="btn btn-success">
                                                <i class="fas fa-dollar-sign"></i>
                                                Generar Pago</a>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- Scripts -->
        <script th:fragment="js"></script>
    </div>    
</div>

</body>

</html>